/* Start Variables */
:root{
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --paragraph-color : #777;
    --section-background: #f6f6f6;
    --section-padding: 60px;
}
/* End Variables */

/* Start Globel rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small */
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/* End Globel rules */
/* Start Special Headers */
.specialHeading{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -4px;
    margin: 0;
}
.specialHeading + p{
    margin: -30px 0 0 ;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media(max-width:767px){
    .specialHeading{
        font-size: 60px;
    }
    .specialHeading + p{
        margin-top: -20px;
    }
}
/* End Special Headers */

/* header */
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 60px;
}
.header .links{
    position: relative;
}
.header .links ul{
    list-style: none;
    right: 0;
    margin-top: 6px;
    padding: 0;
    background-color: var(--section-background);
    position: absolute;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .links ul::before{ /*shm of list =>*/
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--section-background) transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links:hover ul{
    display: block;
}
.header .links ul li a{
    text-decoration: none;
    color: #333;
    padding: 15px;
    transition: 0.3s;
    display: block;
}
.header .links ul li a:hover{
    padding-left: 20px;
}
.header .links ul li:not(last-child){ /*line between list*/
    border-bottom: 1px solid #ddd;
}
/* End Header */
/* Start Laning */
.landing{
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1{
    margin: 0;
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;
}
.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
}
/* End Landing */
/* Start Sections */
.sections, .portfolio, .content{
    padding: var(--section-padding) 0px var(--section-padding) 0px;
    background-color: var(--section-background);
}
.sections .container,.services .items,.portfolio .categories{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}
.sections .feat{
    padding: 20px;
    text-align: center;
}
.sections .feat i, .services .items .srv i  {
    color: var(--main-color);
    font-size: 50px;
}
.sections h3{
    font-weight: 800;
    margin: 30px 0;
}
.sections p{
    color: var(--paragraph-color);
    font-size: 17px;
    line-height: 1.8;
}
/* End Sections */
/* Start Services */
.services, .services .items, .about{
    padding: var(--section-padding) 0px var(--section-padding) 0px;
}
.services .items{
    margin-top: 30px;
}
.services .items .col .srv{
    margin-bottom: 40px;
    display: flex;
}
.services .items .srv i{
    font-size: 30px;
    flex-basis: 60px;
}
@media (max-width: 767px){
    .services .items .col .srv{
        flex-direction: column;
        text-align: center;
    }
}
.services .items .text{
    flex: 1;
}
.services .items .text h3{
    margin: 0;
}
.services .items .text p{
    color: var(--paragraph-color);
    font-weight: 300;
    line-height: 1.6;
}
.services .items .image{
    text-align: center;
    position: relative;
}
.services .items .image::before{
    content: "";
    position: absolute;
    right: 0;
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    z-index: -1;
}
.services .items .image img{
    width: 260px;
}
@media (max-width: 1199px){
    .services .items .image{
        display: none;
    }
}
/* End Services */
.portfolio .categories{
    margin-top: 75px;
}
.portfolio .category{
    background-color: white;
}
.portfolio .category img{
    max-width: 100%;
}
.portfolio .text{
    padding: 20px;
}
.portfolio .text h3{
    margin: 0;
}
.portfolio .text p{
    color: var(--paragraph-color);
    line-height: 1.8;
    margin-bottom: 0;
}
/* End portfolio */
.about{
    padding-bottom: calc(var(--section-padding) + 60px);
}
.about .aboutContent{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px){
    .about .aboutContent{
        flex-direction: column;
        text-align: center;
    }
}
.about .aboutContent .image{
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width: 991px){
    .about .aboutContent .image{
        margin: 0 auto 60px;
    }
}
.about .aboutContent .image img{
    max-width: 100%;
}
.about .aboutContent .image::before{
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .aboutContent .image::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    top: -40px;
    right: -150px;
    z-index: -1;
}
@media (max-width: 991px){
    .about .aboutContent .image::before, .about .aboutContent .image::after{
        display: none;
    }
}
.about .aboutContent .text{
    flex-basis: calc(100% - 500px);
}
.about .aboutContent .text p:first-child{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .aboutContent .text hr{
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about .aboutContent .text p:last-child{
    line-height: 2;
    color: var(--paragraph-color);
}
/* End about */
.content .contentContent{
    text-align: center;
    padding: var(--section-padding) 0px var(--section-padding) 0px;
}
.content .contentContent p{
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.content .contentContent a{
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}
.content .contentContent .social{
    margin-top: 15px;
    color: var(--secondary-color);
    font-size: 16px;
}
@media(max-width: 767px){
    .content .contentContent p, .content .contentContent a{
        font-size: 25px;
    }
}
/* End content */
.footer{
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span{
    color: var(--main-color);
    font-weight: bold;
}
/* End footer*/